*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #434455;
  --title-nav-color: #2e2f42;
  --logo-footer-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --active-button-color: #404bbf;
  --subtitle-text: #8e8f99;
  --footer-icon-hover: #31d0aa;
  --accept-policy: #757575;
}

body {
  background-color: #ffffff;
  color: var(--title-nav-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

/* sections */
.section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  min-width: 320px;
}

.container {
  margin-left: auto;
  margin-right: auto;
  /* min-width: 320px; */
  /* width: 100%; */
}

/* list, link, image */

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
}

.image {
  display: block;
}

/* hidden headers */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* h2 */
.section-title {
  margin-top: 96px;
  margin-bottom: 72px;
  color: var(--title-nav-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  /* text-transform: capitalize; */
}
/* h3 */
.subtitle {
  margin-top: 0;
  margin-bottom: 8px;
  color: var(--title-nav-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
}

/* text */
.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

/* Header */
.section.hdr {
  padding-top: 24px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--footer-text-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}
/* .container.main-nav {
  padding: 24px 16px;
} */
/* Logo */
.logo {
  margin-right: auto;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo > span {
  color: var(--title-nav-color);
}

.logo.second > span {
  color: var(--logo-footer-color);
}
/* burger-menu */
.menu-toggle {
  display: flex;
  align-items: center;
  justify-content: center;

  margin: 0;
  padding: 0;
  background-color: transparent;
  cursor: pointer;
  border: none;
  border-radius: 50%;
  outline: none;
  stroke: var(--title-nav-color);
}

/* site-nav */

@media (max-width: 767px) {
  .nav,
  .adr {
    display: none;
  }
}

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link,
.modal-text {
  display: block;
  color: var(--title-nav-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-button-color);
}

.site-nav .current {
  position: relative;

  color: var(--active-button-color);
}

.site-nav .current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -28px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-button-color);
  border-radius: 2px;
}

/* adress */
.adr {
  margin-left: auto;
}

.site-addr .item + .item {
  margin-left: 40px;
}

.site-addr .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-addr .link:hover,
.site-addr .link:focus {
  color: var(--active-button-color);
}

@media (min-width: 768px) {
  .menu-toggle.js-open-menu {
    display: none;
  }
}
.menu-toggle:hover,
.menu-toggle:focus {
  stroke: var(--active-button-color);
}

/* mobile-menu */

.menu-container {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  min-width: 320px;
  height: 100vh;
  padding-top: 80px;
  padding-right: 35px;
  padding-bottom: 40px;
  padding-left: 40px;
  background-color: var(--hero-text-color);
  z-index: 999;

  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.menu-container.is-open {
  transform: translateX(0);
}

.menu-container .menu-toggle {
  position: absolute;
  top: 24px;
  right: 24px;
  color: #fff;
}
.menu-toggle.js-close-menu {
  height: 24px;
  width: 24px;
  /* background-color: var(--footer-text-color); */
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: rgb(0, 0, 0);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.menu-toggle.js-close-menu:hover,
.menu-toggle.js-close-menu:focus {
  cursor: pointer;
  background-color: var(--active-button-color);
  border: 1px solid var(--active-button-color);
  fill: var(--hero-text-color);
}

.mobile-nav {
  margin: 0;
}
.mobile-nav-list {
  margin: 0;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;

  letter-spacing: 0.02em;
  text-transform: capitalize;
  appearance: none;
  /* color: #2e2f42; */
}

.mobile-nav-list .item + .item {
  margin-top: 40px;
}
.mobile-nav-list .item:last-child {
  margin-bottom: 40px;
}

.mobile-nav-list .item .link {
  color: var(--title-nav-color);
}
.mobile-nav-list .item .link.current {
  color: var(--active-button-color);
}
.mobile-adr {
  margin-top: auto;
}
.mobile-adr .site-addr.list {
  flex-direction: column;
}

.mobile-adr .site-addr.list .item + .item {
  margin-top: 40px;
  margin-left: 0;
}
.mobile-adr .item .mobile-tel {
  font-weight: 700;
  font-size: 24px;
  line-height: 1.11;

  letter-spacing: 0.02em;

  color: var(--accent-color);
}

.mobile.social.list {
  margin-top: 48px;
  max-width: 328px;
  min-width: 228px;

  justify-content: space-between;
}

.mobile.social.list .item .link-icon {
  width: 24px;
  height: 24px;
}

/* hero */

.section.hero .overlay {
  padding-top: 112px;
  padding-bottom: 112px;
  text-align: center;
  /* height: 432px; */
  margin-right: auto;
  margin-left: auto;
  /* max-width: 428px; */
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/hero-bg-mob.jpg");

  background-position: center;
  background-size: cover;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .section.hero .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-mob-2x.jpg");
  }
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  width: 320px;

  color: var(--hero-text-color);
  font-size: 36px;
  line-height: 1.11;
}

.hero .btn {
  border: 0px;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  overflow-y: auto;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;

  left: 50%;
  padding-top: 72px;
  padding-right: 16px;
  padding-bottom: 24px;
  padding-left: 16px;

  /* min-width: 320px; */
  max-width: 392px;
  min-height: 586px;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transform: translateX(-50%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;

  background-color: var(--footer-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: rgb(0, 0, 0);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  background-color: var(--active-button-color);
  border: 1px solid var(--active-button-color);
  fill: var(--hero-text-color);
}

/* modal title */

.modal-text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
/* form-fild */

.form {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.form-fild {
  display: flex;
  position: relative;
  flex-direction: column;
}
.form-fild .form-input,
.form-fild .form-textarea {
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild .form-input {
  height: 40px;
  padding-left: 38px;
}
.form-textarea {
  resize: none;
  height: 120px;
}
.form-fild .form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
  font-size: 12px;
  line-height: 1.17;
}

.form-fild label {
  margin-bottom: 4px;
  color: var(--subtitle-text);
}
.form-fild + .form-fild {
  margin-top: 8px;
}
.form-icon {
  position: absolute;
  bottom: 14px;
  left: 19px;
  fill: var(--title-nav-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}

/* modal - accept policy */

.accept {
  display: inline-block;
  position: relative;
  margin-top: 18px;
  margin-bottom: 24px;
}

.form-label,
.form-label-accept {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text);
}
.accept-icon {
  display: inline-block;
  flex-shrink: 0;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--title-nav-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:hover + .accept-icon,
.checkbox:focus + .accept-icon {
  border-color: var(--accent-color);
}
.checkbox:checked + .accept-icon {
  background-color: var(--active-button-color);
  border-color: var(--active-button-color);
}
.checkbox:checked ~ .accept-checked {
  opacity: 1;
}
.accept-checked {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  fill: var(--logo-footer-color);
  opacity: 0;
}
.form-label-accept {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;

  color: var(--accept-policy);
}
.accept-link {
  margin-left: 3px;
  color: var(--accent-color);
}

/* form-button */

.form-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  color: var(--hero-text-color);
  background: var(--accent-color);
  border-color: var(--accent-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  cursor: pointer;
  background: var(--active-button-color);
  border-color: var(--active-button-color);
}

/* our goals */
.section.goals {
  padding: 96px 16px;
}

.goals.list {
  display: list-item;
}

.goals.list .subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
}

.goals.list .item + .item {
  margin-top: 72px;
}

.goals.list .text {
  font-weight: 500;
}

.goals.list .bg-icon {
  display: none;
  height: 112px;
  width: 264px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-footer-color);
}

/* What are we doing */
.section.works {
  display: none;
}

.work.list {
  justify-content: space-between;
}

.work.list .item + .item {
  margin-left: 24px;
}

/* our team */
.section.people {
  background-color: var(--logo-footer-color);
}
.section.people {
  padding-top: 96px;
  padding-bottom: 96px;

  text-align: center;
  background-color: var(--logo-footer-color);
}
.section.people .section-title {
  margin-top: 0px;
}
.people.list {
  flex-direction: column;
  align-items: center;
}
.people.list .item-team {
  width: 264px;
}
.people.list .item-team + .item-team {
  margin-top: 72px;
}
.people.list .card.content {
  background-color: var(--hero-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}
.people.list .card.content .text {
  margin-bottom: 8px;
}
.social.list {
  justify-content: center;
}

.social.list .item + .item {
  margin-left: 24px;
}

.social.list .item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;

  background-size: contain;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social.list .item .link:hover,
.social.list .item .link:focus {
  background-color: var(--active-button-color);
}
.link-icon {
  height: 16px;
  width: 16px;

  fill: var(--logo-footer-color);
}

/* customers */
.section.customers {
  padding-top: 96px;
  padding-bottom: 96px;
}
.section.customers .section-title {
  margin-top: 0px;
}
.customers.list {
  flex-wrap: wrap;
  gap: 72px 16px;
  justify-content: center;
}

.customers.list .link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 190px;
  height: 88px;
  background-color: var(--hero-text-color);
  border: 1px solid var(--subtitle-text);
  border-radius: 4px;
  background-repeat: no-repeat;
  color: var(--subtitle-text);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers.list .link:hover,
.customers.list .link:focus {
  border-color: var(--active-button-color);
  color: var(--active-button-color);
}

.icon {
  fill: currentColor;
}

/* main porfolio projects */
.section.prjct {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* portfolio filtr */
.container.filtr {
  margin-bottom: 72px;
}

.filtr.list .item + .item {
  margin-left: 24px;
}

.filtr.list {
  justify-content: center;
}

.filtr .btn {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: var(--accent-color);
  background-color: var(--logo-footer-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: none;
}
.btn {
  transition-property: border, color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.btn:hover,
.btn:focus {
  border-color: var(--active-button-color);
  color: var(--hero-text-color);
  background-color: var(--active-button-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* porfolio projects */
.projects {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.box-image {
  position: relative;
  overflow: hidden;
}

.box-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay .text {
  color: var(--logo-footer-color);
}
.card.content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 15px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--footer-text-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--footer-text-color);

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--footer-text-color);
}
.projects.list .item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects.list .item .link:hover,
.projects.list .item .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects.list .item .link:hover .overlay,
.projects.list .item .link:focus .overlay {
  transform: translateX(0);
}

/* footer */
.footer {
  background-color: var(--title-nav-color);
}
.footer {
  padding: 96px 16px;
}
.logo-footer {
  margin-right: auto;
  margin-left: auto;
  width: 268px;
  text-align: center;
}

.logo.link.second {
  text-align: center;
}

.footer-text {
  margin-top: 18px;
  margin-bottom: 0;
  /* width: 264px; */
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.logo-footer .footer-text {
  text-align: left;
}

/* footer social block */

.social-footer {
  margin-top: 72px;
  margin-right: auto;
  margin-left: auto;
  width: 208px;
  text-align: center;
}
.social-footer .footer-text {
  margin-top: 0px;
  margin-bottom: 16px;
}

.social-footer .social.list {
  justify-content: flex-start;
}

.social-footer .social.list .item + .item {
  margin-left: 16px;
}

.social-footer .social.list .item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .social.list .item .link:hover,
.social-footer .social.list .item .link:focus {
  background-color: var(--footer-icon-hover);
}

.social-footer .link-icon {
  margin: 0px;
  height: 24px;
  width: 24px;
}

/* form footer block */

.form-footer {
  margin-top: 72px;
  text-align: center;
}

.form-footer .footer-text {
  margin-top: 0px;
  margin-bottom: 16px;
}

.footer-form input {
  width: 100%;
  /* min-width: 290px; */
  padding: 8px 16px;

  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  color: var(--footer-text-color);
}

.footer-form input::placeholder {
  font-size: 12px;
  line-height: 1.17;
}

.footer-btn {
  display: flex;
  margin-top: 16px;
  margin-right: auto;
  margin-left: auto;
  padding: 8px 24px;

  background: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: none;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  cursor: pointer;
  background-color: var(--active-button-color);
  border-color: var(--active-button-color);
}
.footer-btn .text {
  color: var(--hero-text-color);
}

.footer-icon {
  margin-left: 16px;
  fill: var(--hero-text-color);
}

@media screen and (min-width: 480px) {
  .container {
    max-width: 428px;
  }
  .mobile-adr .item .mobile-tel {
    font-size: 36px;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .container {
    max-width: 768px;
  }
  .section.hdr {
    padding-top: 0px;
    padding-bottom: 0px;
  }
  .container.main-nav {
    height: 72px;
    align-items: center;
    justify-content: space-between;
  }
  .site-nav .current::after {
    bottom: -25px;
  }
  .site-addr.list {
    flex-direction: column;
  }
  .site-addr.list .item {
    margin-left: 0;
  }
  .site-addr .link {
    font-size: 12px;
    line-height: 1.17;
  }
  .section.hero .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg-tabl.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section.hero .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg-tabl-2x.jpg");
    }
  }
  .hero-title {
    margin-bottom: 36px;
    width: 500px;
    font-size: 56px;
    line-height: 1.07;
  }

  .goals.list {
    display: flex;
    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    justify-content: center;
  }
  .goals.list .item .subtitle {
    text-align: start;
  }
  .goals.list .item {
    width: 356px;
  }
  .goals.list .item + .item {
    margin-top: 0;
  }

  .people.list {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 62px;
    column-gap: 24px;
  }
  .people.list .item-team + .item-team {
    margin-top: 0;
  }

  .section.customers .container {
    max-width: 552px;
  }
  .customers.list .link {
    width: 168px;
  }

  .section.footer .container {
    display: flex;

    flex-wrap: wrap;
    row-gap: 72px;
    column-gap: 24px;
    max-width: 552px;
    /* margin-right: auto;
    margin-left: auto; */
  }
  .logo-footer {
    margin: 0;
    text-align: left;
  }

  .social-footer {
    margin: 0;
    text-align: left;
  }
  .form-footer {
    margin: 0;
    text-align: left;
  }

  .footer-form {
    display: flex;
  }
  .footer-form .footer-form-input {
    width: 264px;
  }
  .footer-btn {
    margin-top: 0;
    margin-left: 24px;
  }
  .footer-btn .text {
    letter-spacing: 0.04em;
  }
}

@media screen and (min-width: 1200px) {
  .container {
    padding-right: 15px;
    padding-left: 15px;
    max-width: 1158px;
  }

  .main-nav {
    justify-content: flex-start;
  }
  .logo.link {
    margin-right: 76px;
  }
  .overlay {
    padding-top: 188px;
    padding-bottom: 188px;
  }
  .section.hero .overlay {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url("../images/hero-bg.jpg");
  }
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .section.hero .overlay {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url("../images/hero-bg-2x.jpg");
    }
  }
  .hero-title {
    width: 496px;
    font-size: 56px;
    line-height: 1.07;
  }
  .modal {
    padding-right: 24px;
    padding-left: 24px;
    width: 408px;
    height: 584px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) scale(1);
  }

  .accept {
    margin-top: 16px;
  }
  .accept-text {
    margin: 0;
  }
  /* -----goals------ */
  .section.goals {
    padding: 120px 0px;
  }
  .goals.list {
    display: flex;
  }
  .goals.list .item + .item {
    margin-top: 0;
    margin-left: 24px;
  }
  .goals.list .bg-icon {
    display: flex;
  }
  .goals.list .subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    text-align: left;
  }
  .goals.list .text {
    font-weight: 400;
  }
  /* -----works------ */
  .section.works {
    display: block;
  }
  .section.works {
    padding-bottom: 120px;
  }

  .section.works .section-title {
    margin-top: 0;
  }
  /* -----people------ */
  .section.people {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .people.list {
    flex-direction: row;
  }
  .people.list .item-team + .item-team {
    margin-top: 0px;
    margin-left: 24px;
  }
  /* -----customers------ */
  .section.customers {
    padding-top: 120px;
    padding-bottom: 120px;
  }
  .customers.list {
    justify-content: space-between;
  }
  .customers.list .link {
    width: 168px;
  }
  /* -----footer------ */

  .section.footer {
    padding-top: 100px;
    padding-bottom: 100px;
  }
  .section.footer .container {
    display: flex;
    align-items: flex-start;
  }
  .logo-footer {
    margin: 0;
    margin-right: 120px;
    text-align: left;
    width: 264px;
  }
  .logo.link.second {
    margin: 0;
  }
  .logo-footer .footer-text {
    margin-top: 16px;
  }
  .social-footer {
    margin: 0;
    text-align: left;
  }
  .form-footer {
    margin: 0;
    margin-left: auto;
    text-align: left;
  }
  .footer-form {
    display: flex;
  }
  .footer-form input {
    width: 264px;
    height: 40px;
    margin-right: 24px;
  }
  .footer-btn {
    margin: 0;
  }
}
