*,
*::before,
*::after {
  box-sizing: border-box;
}

:root {
  --primary-text-color: #434455;
  --title-nav-color: #2e2f42;
  --logo-footer-color: #f4f4fd;
  --accent-color: #4d5ae5;
  --hero-text-color: #ffffff;
  --footer-text-color: #e7e9fc;
  --active-button-color: #404bbf;
  --subtitle-text: #8e8f99;
  --footer-icon-hover: #31d0aa;
  --accept-policy: #757575;
}

body {
  background-color: #ffffff;
  color: var(--title-nav-color);
  font-family: Roboto, sans-serif;
  letter-spacing: 0.02em;
}

.list {
  padding: 0;
  margin: 0;
  list-style: none;
  display: flex;
  justify-content: flex-start;
}

.link {
  text-decoration: none;
}

.container {
  margin-left: auto;
  margin-right: auto;
  padding-right: 15px;
  padding-left: 15px;
  width: 1158px;
}

.image {
  display: block;
}

/* sections */
.section {
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: auto;
  margin-right: auto;
  min-width: 1440px;
}

/* hidden headers */
.visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  margin: -1px;
}

/* h2,h3 */
.section-title {
  margin-top: 0;
  margin-bottom: 72px;
  color: var(--title-nav-color);
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  text-transform: capitalize;
}

.subtitle {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--title-nav-color);
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  margin-bottom: 8px;
}

/* text */
.text {
  margin-top: 0;
  margin-bottom: 0;
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.5;
}

.people.list .card.content .text {
  margin-bottom: 8px;
}

/* Logo */
.logo {
  margin-right: 76px;
  color: var(--accent-color);
  font-family: Raleway, sans-serif;
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.logo > span {
  color: var(--title-nav-color);
}

.logo.second > span {
  color: var(--logo-footer-color);
}

/* Header */
.hdr {
  padding-top: 24px;
  padding-bottom: 24px;
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--footer-text-color);
  box-shadow: 0px 2px 1px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

/* site-nav */
.main-nav {
  display: flex;
  align-items: center;
}

.site-nav .item:not(:last-child) {
  margin-right: 40px;
}

.site-nav .link,
.modal-text {
  display: block;
  color: var(--title-nav-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--active-button-color);
}

.site-nav .current {
  position: relative;

  color: var(--active-button-color);
}

.site-nav .current::after {
  display: block;
  position: absolute;
  left: 0;
  bottom: -28px;
  content: "";
  width: 100%;
  height: 4px;
  background-color: var(--active-button-color);
  border-radius: 2px;
}

/* adress */
.adr {
  margin-left: auto;
}

.site-addr .item + .item {
  margin-left: 40px;
}

.site-addr .link {
  color: var(--primary-text-color);
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-addr .link:hover,
.site-addr .link:focus {
  color: var(--active-button-color);
}

/* hero */

.section.hero .overlay {
  padding-top: 188px;
  padding-bottom: 188px;
  text-align: center;
  height: 600px;
  margin-right: auto;
  margin-left: auto;
  max-width: 1440px;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url("../images/peopleoffice.jpg");

  background-position: center;
  background-size: cover;
}

.hero-title {
  margin-top: 0;
  margin-right: auto;
  margin-bottom: 48px;
  margin-left: auto;
  width: 494px;

  color: var(--hero-text-color);
  font-size: 56px;
  line-height: 1.07;
}

.hero .btn {
  border: 0px;
  border-radius: 4px;
  padding-top: 16px;
  padding-right: 32px;
  padding-bottom: 16px;
  padding-left: 32px;

  color: var(--hero-text-color);
  background-color: var(--accent-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
}
/* modal */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: rgba(46, 47, 66, 0.4);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  visibility: visible;
  opacity: 0;
  pointer-events: none;
}
.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(0.9);
}
.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  padding-top: 72px;
  padding-right: 24px;
  padding-bottom: 24px;
  padding-left: 24px;

  min-width: 408px;
  min-height: 576px;
  background-color: var(--hero-text-color);
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close {
  position: absolute;
  top: 24px;
  right: 24px;
  display: flex;
  justify-content: center;
  align-items: center;

  height: 24px;
  width: 24px;

  background-color: var(--footer-text-color);
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  fill: rgb(0, 0, 0);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close:hover,
.modal-close:focus {
  cursor: pointer;
  background-color: var(--active-button-color);
  border: 1px solid var(--active-button-color);
  fill: var(--hero-text-color);
}

/* modal title */

.modal-text {
  margin-top: 0;
  margin-bottom: 16px;
  text-align: center;
}
/* form-fild */
.form-textarea {
  resize: none;
}
.form {
  width: 360px;
  margin-left: auto;
  margin-right: auto;
}

.form-fild {
  display: flex;
  position: relative;
  flex-direction: column;
}
.form-fild .form-input,
.form-fild .form-textarea {
  padding: 8px 16px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-fild .form-input {
  height: 40px;
  padding-left: 38px;
}

.form-fild .form-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.form-fild label {
  margin-bottom: 4px;
  color: var(--subtitle-text);
}
.form-fild + .form-fild {
  margin-top: 8px;
}
.form-icon {
  position: absolute;
  bottom: 14px;
  left: 19px;
  fill: var(--title-nav-color);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:hover + .form-icon,
.form-input:focus + .form-icon {
  fill: var(--accent-color);
}

.form-input:hover,
.form-input:focus,
.form-textarea:hover,
.form-textarea:focus {
  border-color: var(--accent-color);
}

/* modal - accept policy */

.accept {
  position: relative;
  margin-top: 16px;
  margin-bottom: 24px;
  /* padding-left: 24px; */
}
.form-label {
  font-weight: 400;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: var(--subtitle-text);
}
.accept-icon {
  display: inline-block;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  border: 1.25px solid var(--title-nav-color);
  border-radius: 2px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.checkbox:hover + .accept-icon,
.checkbox:focus + .accept-icon {
  border-color: var(--accent-color);
}
.checkbox:checked + .accept-icon {
  background-color: var(--active-button-color);
  border-color: var(--active-button-color);
}
.checkbox:checked ~ .accept-checked {
  opacity: 1;
}
.accept-checked {
  position: absolute;
  top: 50%;
  left: 3px;
  transform: translateY(-50%);
  fill: var(--logo-footer-color);
  opacity: 0;
}
.form-label-accept {
  display: flex;
  align-items: center;
  font-size: 12px;
  line-height: 1.17px;
  letter-spacing: 0.04em;

  color: var(--accept-policy);
}
.accept-link {
  margin-left: 3px;
  color: var(--accent-color);
}

/* form-button */

.form-btn {
  display: block;
  width: 169px;
  height: 56px;
  margin-left: auto;
  margin-right: auto;
  padding: 16px 32px;
  color: var(--hero-text-color);
  background: var(--accent-color);
  border-color: var(--accent-color);
  border-style: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  outline: none;
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-btn:hover,
.form-btn:focus {
  cursor: pointer;
  background: var(--active-button-color);
  border-color: var(--active-button-color);
}

/* our goals */
.section.goals {
  padding-top: 120px;
}

.goals.list .item + .item {
  margin-left: 24px;
}

.goals.list .item {
  width: 264px;
}

.goals.list .bg-icon {
  display: flex;
  height: 112px;
  margin-bottom: 8px;
  justify-content: center;
  align-items: center;
  background-color: var(--logo-footer-color);
}

/* What are we doing */
.section.works {
  padding-top: 120px;
  padding-bottom: 120px;
}

.work.list {
  justify-content: space-between;
}

.work.list .item + .item {
  margin-left: 24px;
}

/* our team */
.section.people {
  padding-top: 120px;
  padding-bottom: 120px;

  text-align: center;
  background-color: var(--logo-footer-color);
}

.people.list {
  justify-content: space-between;
}

.people.list .card.content {
  background-color: var(--hero-text-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.social.list {
  justify-content: center;
}

.social.list .item + .item {
  margin-left: 24px;
}

.social.list .item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  background-color: var(--accent-color);
  border-radius: 50%;

  background-size: contain;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social.list .item .link:hover,
.social.list .item .link:focus {
  background-color: var(--active-button-color);
}
.link-icon {
  height: 16px;
  width: 16px;

  fill: var(--logo-footer-color);
}

/* customers */
.section.customers {
  padding-top: 130px;
  padding-bottom: 120px;
}
.customers.list .item + .item {
  margin-left: 24px;
}

.customers.list .link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 168px;
  height: 88px;
  background-color: var(--hero-text-color);
  border: 1px solid var(--subtitle-text);
  border-radius: 4px;
  background-repeat: no-repeat;
  color: var(--subtitle-text);

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.customers.list .link:hover,
.customers.list .link:focus {
  border-color: var(--active-button-color);
  color: var(--active-button-color);
}

.icon {
  fill: currentColor;
}

/* main porfolio projects */
.section.prjct {
  padding-top: 96px;
  padding-bottom: 120px;
}

/* portfolio filtr */
.container.filtr {
  margin-bottom: 72px;
}

.filtr.list .item + .item {
  margin-left: 24px;
}

.filtr.list {
  justify-content: center;
}

.filtr .btn {
  padding-top: 12px;
  padding-right: 24px;
  padding-bottom: 12px;
  padding-left: 24px;
  border: 1px solid #e7e9fc;
  border-radius: 4px;

  color: var(--accent-color);
  background-color: var(--logo-footer-color);
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  box-shadow: none;
}
.btn {
  transition-property: border, color, background-color, box-shadow;
  transition-duration: 250ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  transition-delay: 0;
}

.btn:hover,
.btn:focus {
  border-color: var(--active-button-color);
  color: var(--hero-text-color);
  background-color: var(--active-button-color);
  cursor: pointer;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 2px 1px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

/* porfolio projects */
.projects {
  flex-wrap: wrap;
  row-gap: 48px;
  column-gap: 24px;
}

.box-image {
  position: relative;
  overflow: hidden;
}

.box-image .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: var(--accent-color);
  padding-top: 40px;
  padding-right: 32px;
  padding-left: 32px;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay .text {
  color: var(--logo-footer-color);
}
.card.content {
  padding-top: 32px;
  padding-bottom: 32px;
  padding-left: 15px;
  padding-right: 15px;
  padding-left: 15px;

  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--footer-text-color);

  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--footer-text-color);

  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--footer-text-color);
}
.projects.list .item .link {
  display: block;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects.list .item .link:hover,
.projects.list .item .link:focus {
  box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
    0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
}

.projects.list .item .link:hover .overlay,
.projects.list .item .link:focus .overlay {
  transform: translateX(0);
}

/* footer */
.footer {
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: var(--title-nav-color);
}

.logo.link.second {
  margin-right: 0px;
}
.footer-text {
  margin-top: 16px;
  margin-bottom: 0;
  width: 264px;
  color: var(--footer-text-color);
  font-size: 16px;
  line-height: 1.5;
}
.section.footer .container {
  display: flex;
  align-items: flex-start;
}
.social-footer {
  display: block;
  margin-left: 120px;
}
.social-footer .footer-text {
  margin-top: 0px;
  margin-bottom: 16px;
}

.social-footer .social.list {
  justify-content: flex-start;
}

.social-footer .social.list .item + .item {
  margin-left: 16px;
}

.social-footer .social.list .item .link {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 255, 255, 0.1);

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-footer .social.list .item .link:hover,
.social-footer .social.list .item .link:focus {
  background-color: var(--footer-icon-hover);
}

.social-footer .link-icon {
  margin: 0px;
  height: 24px;
  width: 24px;
}
.form-footer {
  display: block;
  margin-left: auto;
}

.form-footer .footer-text {
  margin-top: 0px;
  margin-bottom: 16px;
}
.footer-form {
  display: flex;
}
.footer-form input {
  width: 264px;
  padding: 8px 16px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
  outline: none;
  color: var(--footer-text-color);
}

.footer-form input::placeholder {
  font-size: 12px;
  line-height: 24px;
}

.footer-btn {
  display: flex;
  margin-left: 24px;
  padding: 8px 24px;

  background: var(--accent-color);
  border-color: var(--accent-color);
  border-radius: 4px;
  outline: none;
  border-style: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-btn:hover,
.footer-btn:focus {
  cursor: pointer;
  background-color: var(--active-button-color);
  border-color: var(--active-button-color);
}
.footer-btn .text {
  color: var(--hero-text-color);
}

.footer-icon {
  margin-left: 16px;
  fill: var(--hero-text-color);
}
